<!DOCTYPE html>
<html>
<head>
  <title>All Customers</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <form method="get" action="/fa17g22">
      <button type="submit" class="btn btn-primary">Go Home</button>
    </form>
    <table class="table table-hover table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Customer ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length){
          for(var i = 0;i < data.length;i++) { %>
            <tr>
              <td><%=data[i].customer_id%></td>
              <td><%=data[i].username%></td>
              <td><%=data[i].firstName%></td>
              <td><%=data[i].lastName%></td>
              <td><%=data[i].email%></td>
              <td><%=data[i].dob%></td>
            </tr>
            <% }
          }else{ %>
            <tr>
              <td colspan="3">No user</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    </body>
    </html>
